<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.meaworld.company-os-worker</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE_BIN__</string>
    <string>__RUNTIME_REPO__/scripts/worker-supervisor.mjs</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__RUNTIME_REPO__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__RUNTIME_PATH__</string>
    <key>MEAWORLD_WORKER_RUNTIME_DIRECTORY</key>
    <string>__RUNTIME_REPO__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>__RUNTIME_REPO__/.phase0/worker.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__RUNTIME_REPO__/.phase0/worker.stderr.log</string>
</dict>
</plist>
